<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rutgers Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
  </head>
  <body>

    <!-- Banner -->
    <div class="row">
      <div class="large-12 columns">
        <img src="{{ url_for('static', filename='img/header.png') }}">
      </div>
    </div>
    <!-- End banner -->


    <div class="row">

      <div class="large-6 columns">
        <div class="panel">
          <h3>We&rsquo;re stoked you want to try Foundation! </h3>
          <p>Once you've exhausted the fun in this document, you should check out:</p>
        </div>

        <div class="panel">
          <h3>Noms<hr/></h3>
          <dl class="accordion" data-accordion>
            <dl class="tabs" data-tab>
              <dd class="active"><a href="#panel2-1">Busch</a></dd>
              <dd><a href="#panel2-2">Livingston</a></dd>
              <dd><a href="#panel2-3">Brower</a></dd>
              <dd><a href="#panel2-4">Neilson</a></dd>
            </dl>
            <div class="tabs-content">
              <div class="content active" id="panel2-1">
                <p>First panel content goes here...</p>
              </div>
              <div class="content" id="panel2-2">
                <p>Second panel content goes here...</p>
              </div>
              <div class="content" id="panel2-3">
                <p>Third panel content goes here...</p>
              </div>
              <div class="content" id="panel2-4">
                <p>Fourth panel content goes here...</p>
              </div>
            </div>
          </dl>
        </div>

      </div>


      <div class="large-6 columns">
      	<div class="panel">
	        <h3>Nextbus<hr/></h3>
	        <p>To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>
	        <p>Once you've exhausted the fun in this document, you should check out:</p>
      	</div>

        <div class="row" data-equalizer>
          <div class="large-6 small-6 columns">
            <div class="panel" data-equalizer-watch>
              <h4>QOTD</h4>
              <p>{{ quote.quote }}</p>
              {% if quote.author %}
              <p style="text-align: right">-- {{ quote.author }}</p>
              {% endif %}
            </div>
          </div>

          <div class="large-6 small-6 columns">
            <div class="panel" data-equalizer-watch>
              <h4>Weather</h4>
              <p>{{ weather.location }}</p>
              <p style="text-align: center;">
                <img src="{{ weather.cond_image }}"><br/>
                {{ weather.condition }}<br/>
                {{ weather.temp_f }} ({{ weather.temp_c }})
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- Footer -->
    <footer class="row">
        <div class="large-12 columns"><hr />
          <div class="row">

            <div class="large-6 columns">
              <p size = "10px"> Last updated 13 April 2014</p>
            </div>

            <div class="large-6 columns">
              <ul class="inline-list right" >
                <li><a href="" >Home</a></li>
                <li><a href="#">Buses</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="#">Dining</a></li>
                <li><a href="#">Calendar</a></li>
              </ul>
            </div>

          </div>
        </div>
      </footer>
      <!-- End Footer -->

    <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.equalizer.js') }}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
